<section class="section-presentation">
  <app-title [title]="titleSection"></app-title>
  <div class="row wrapper">
    <div class="col-12 col-xl-6 wrapper-illustration mb-5 mb-xl-0">
      <img
        [src]="illustrationHpImgUrl"
        class="illustration-women-reading"
        alt="women reading"
      />
    </div>
    <div class="col-12 col-xl-6 wrapper-content">
      <h3 class="mb-5">
        Le guide pratique de notre association Yourbook de prêt de livre
      </h3>
      <p>
        Amoureux des livres, mais allergique au prix exorbitant des librairies ?
        Pas de souci, l'association de prêt de livre est là pour vous éviter la
        ruine !
      </p>
      <p>
        Avec une caution modique de 10 euros, vous avez accès à des milliers de
        livres de toutes les catégories, de la littérature classique aux
        dernières sorties en passant par les essais et les BD.
      </p>
      <p>
        Et ce n'est pas tout, avec des sites un peu partout en France, vous
        pouvez dire adieu aux heures passées en voiture pour trouver votre perle
        rare.
      </p>
      <p>
        Alors, si vous voulez vous évader sans vous ruiner, rejoignez vite
        l'association YourBook !
      </p>
    </div>
  </div>
</section>
