.btn-borrow {
  background-color: var(--color-orange);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Lato", sans-serif;
  transition: box-shadow 0.3s ease;
}
.btn-borrow:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
}

.btn-borrow:active {
  color: white;
  background-color: #f3a71293;
  border-color: #f3a81255;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
