<app-header></app-header>
<main>

    <section class="container-main">

        <div >
            <img src="../../assets/YourBook.png" alt="logo">
        </div>
        <div class="container-titre-p ">
            <h1>Présentation</h1>
            <p>YourBook est une entreprise spécialisée    dans les prêts de
                lives. L'entreprise possède 4000 lives de toutes
                thématiques (fantastique, roman, aventure , .….) et proposent
                à des particulier d'en emprunter de manière totalement
                gratuite.YourBook prône le partage, la transmission de
                connaissance.
            </p>
    
        </div>
    </section>
</main>
<app-footer></app-footer>