footer {
  color: var(--color-bone);
  width: 100%;
  overflow: hidden;
  font-family: "Lato";
}
.footer-top {
  min-height: 9.4rem;
  background-color: var(--color-dark-grey);
  background: linear-gradient(var(--color-dark-grey), #38383d);
  border-top: 3px solid #38383d;
  border-bottom: 3px solid var(--color-bone);
}

.footer-top .wrapper:first-child {
  position: relative;
}
.footer-top .brand img {
  position: absolute;
  top: -0.5rem;
  left: calc(-35%);
  height: calc(100% + 1rem);
}

.footer-top > div {
  display: flex;
  flex-direction: column;
  padding-left: calc((100% - 9rem) / 2);
  padding-top: 2rem;
  text-align: left;
}
.footer-top .footer-title {
  padding-bottom: 0.4rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.footer-top .wrapper p {
  margin-bottom: 0;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  background-color: #38383d;
}

.footer-bottom p {
  margin-bottom: 0;
  text-align: center;
  font-size: 0.9rem;
}

.footer-bottom a {
  text-decoration: none;
  color: var(--color-bone);
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #eeeeee;
}

.footer-top .social-logo {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 75));
  transition: filter 0.3s ease;
}
.footer-top .social-logo:hover {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 75));
}

@media screen and (min-width: 768px) {
  .footer-top .brand img {
    position: absolute;
    top: 0.5rem;
    left: -3rem;
    height: 3.6rem;
  }
  .footer-top > div {
    align-items: center;
    padding-left: 0;
  }
}
